.disclaimer_Wrapper{
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.disclaimer_container{
    width:75%;
    box-shadow: 0 3px 10px rgb(0, 0, 0);

}
ul{
    margin: unset !important;
    padding: unset !important;
    list-style: disc !important;
} 
.list-wrapper{
    padding: 2rem;
}
.list_container{
    border-bottom: 3px solid rgb(87,0,127);
    line-height: 2rem;
    margin: 1rem 0rem;
}
.heading{
    font-weight: 600;
    font-size: 2rem;
    background:  rgb(87,0,127);
    color: #fff;
}
.button_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.input_container{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    font-weight: 550;
}
.modal_container{
    margin-top: 0.5rem;
  padding: 1rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}